<div id="app">
    <header>
        <h2>
            <%= @CompanyInfo['text'] %>
        </h2
            <%= @BusinessStart['text'] %>>
            <%= @BusinessEnd['text'] %>
    </header>
    <div id="main">
        <div id="top01">
        <%= image_tag('top01.jpg') %>
        </div>
    </div>
</div>
